input.form-control {
  font-family: proxima-nova, sans-serif;
  font-size: larger;
  padding-left: .5em;
}
.form-control::-moz-placeholder {
  color: #6B6D6F;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6B6D6F;
}
.form-control::-webkit-input-placeholder {
  color: #6B6D6F;
  font-size: medium;
}

.btn a {
  color: #fff;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}