.form-control::-moz-placeholder {
  color: #6B6D6F;
  opacity: 1;
  font-family: proxima-nova, sans-serif;
}
.form-control:-ms-input-placeholder {
  color: #6B6D6F;
  font-family: proxima-nova, sans-serif;
}
.form-control::-webkit-input-placeholder {
  color: #6B6D6F;
  font-family: proxima-nova, sans-serif;
}

.btn a {
  color: #fff;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}